# System files
.DS_Store

# Database
chroma_db/
chroma_db_persistent/
chroma_db_urls/
chromadb/
data/
*.db

# Environment
.env
venv/
env/
.venv/
.streamlit/


# Python
__pycache__/
*.py[cod]
*.class

random.txt
ai_search_service.py